* {
  --main_font: "Bungee";
  --main_color: #2ec4b6;
  --secondary_color: #fdfffc;
  --tertiary_color: #2ec4b6;
  --fourth_color: #011627;
  --standard_padding: 20px;
  --large_padding: 40px;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--main_color);
}

#header_container {
  display: flex;
  justify-content: space-between;
  padding: var(--standard_padding);
  background-color: var(--main_color);
  font-family: var(--main_font);
  color: var(--secondary_color);
}

#right_container {
  display: flex;
  align-items: center;
  gap: 30px;
}

#logo {
  height: 60px;
}

#sign_out {
  height: 40px;
  width: 120px;
  font-family: var(--main_font);
  font-size: 1rem;
  color: var(--secondary_color);
  border: 2px solid var(--secondary_color);
  background-color: var(--main_color);
  border-radius: 8px;
}

#sign_out:hover,
#sign_out:focus {
  color: var(--main_color);
  background-color: var(--fourth_color);
  border: 2px solid var(--main_color);
}

#main_container {
  display: flex;
}

#left_nav {
  background-color: var(--secondary_color);
  width: 30vw;
  border-top-left-radius: 5vw;
  padding: var(--large_padding);
  gap: var(--standard_padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new_project_container {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  gap: var(--standard_padding);
}

#new_project {
  background-color: var(--secondary_color);
  border: none;
  border-bottom: 2px solid var(--fourth_color);
  color: var(--fourth_color);
  padding-left: 5px;
  font-size: 1rem;
  height: 2rem;
  width: 10rem;
  flex: auto;
}

#new_project::placeholder {
  color: var(--fourth_color);
}

#submit_new_project {
  height: 2.2rem;
  width: 80px;
  font-family: var(--main_font);
  font-size: 1rem;
  color: var(--secondary_color);
  border: 2px solid var(--fourth_color);
  background-color: var(--tertiary_color);
  border-radius: 8px;
}

#submit_new_project:hover,
#submit_new_project:focus,
#submit_task:hover,
#submit_task:focus {
  color: var(--tertiary_color);
  background-color: var(--fourth_color);
  border: 2px solid var(--fourth_color);
}

#project_list {
  border: 2px solid var(--fourth_color);
  background-color: var(--secondary_color);
  border-radius: 20px;
  box-shadow: 1px 5px 15px;
  flex: auto;
  align-self: stretch;
}
#main_display {
  background-color: var(--secondary_color);
  height: 85vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--large_padding);
  border-bottom-right-radius: 5vw;
}

#task_container {
  border: 2px solid var(--fourth_color);
  background-color: var(--secondary_color);
  border-radius: 30px;
  box-shadow: 1px 5px 10px;
  flex: 1;
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--standard_padding);
  padding-top: var(--large_padding);
}

#new_task_input {
  display: flex;
  flex: auto;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--standard_padding);
}

#new_task,
#due_date,
#urgency {
  font-size: 1rem;
  border: none;
  border-bottom: solid 2px var(--fourth_color);
  padding: 5px;
}

#new_task {
  flex: 1;
  width: 20vw;
}

#submit_task {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--tertiary_color);
  color: var(--secondary_color);
  border: 2px solid var(--fourth_color);
}

#footer_container {
  background-color: var(--main_color);
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#footer {
  font-size: 1rem;
  font-family: var(--main_font);
  color: var(--fourth_color);
  padding-right: var(--large_padding);
}
